<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Página inicial</title>
</head>
<body>
<div align="center">
	<h1>Senha individual</h1>
	<a href="/evento/lista_eventos">Cadastro de Eventos</a><br>
	<a href="/evento/listaconv">Lista de Convidados</a><br>
	<a href="/evento/gerarsenha">Gerar senha</a><br>
	<a href="/evento/alterarsenha">Alterar senha</a><br>
	<a href="/evento/excluirsenha">Excluir senha</a><br>
	<!--chamara a pagina de cadastro de local-->
	<a href="/evento/localEvento">Cadastro de Local de Eventos</a>
</div>
</body>
</html>