<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro</title>
	<style>
table, th, td{
  border: 1px solid black;
}
</style>
</head>
<body>
	<h1>Lista de Eventos</h1>
	
	<table>
		<tr>
			<th>Evento</th>
			<th>Data de Realização</th>
			<th>Nome do Responsável</th>
			<th>Telefone do Responsável</th>
			
		</tr>
		<tr th:each="cont : ${lista}">
			<td th:text="${cont.nome}"></td>
			<td th:text="${cont.data_realizacao}"></td>
			<td th:text="${cont.responsavel}"></td>
			<td th:text="${cont.telefone}"></td>
			<td><a th:href="@{/evento/exibirEvento(codigo=${cont.codigo})}">Alterar</a></td>
			<td><a th:href="@{/evento/removerEvento(codigo=${cont.codigo})}">Remover</a></td>
		</tr>
	</table>
	<br>
	<a href="/evento/cadastra">Cadastra Evento</a><br>
	<a href="/evento/home">Voltar a página anterior</a>
	
</body>
</html>