<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro</title>
	<style>
table, th, td{
  border: 1px solid black;
}

</style>
<link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">
</head>
<body>
<div class="modal-header modal-header-warning">
	 <h1  align="center">Lista de Eventos</h1> 
	
	<!-- Form para pesquisa produto  -->
		<form th:action="@{/evento/pesquisa}" method="post">
			<h3 class="modal-header modal-header-warning">
				<i class="glyphicon glyphicon-th-list"></i>
				<span class="pull-right">
					<input type="text" name="nomePesquisa"
					id="nomePesquisa" placeholder="Digite um nome"
					class="btn btn-default btn-sm" />
					<button type="submit" class="btn btn-primary btn-sm">
						<span class="glyphicon glyphicon-search"></span> Pesquisar
					</button>
					</span>
			</h3>
		</form>
	</div>
	<table class="table">
	 <thead class="thead-dark">
		<tr>
			<th scope="col">Evento</th>
			<th scope="col">Data de Realização</th>
			<th scope="col">Nome do Responsável</th>
			<th scope="col">Telefone do Responsável</th>
			<th scope="col">...</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="cont : ${listaEventos}">
			<td th:text="${cont.nome}" scope="row"></td>
			<td th:text="${cont.data_realizacao}"></td>
			<td th:text="${cont.responsavel}"></td>
			<td th:text="${cont.telefone}"></td>
			<td><a th:href="@{/evento/exibirEvento(codigo=${cont.codigo})}" class="btn btn-outline-success">Alterar</a>
			<a th:href="@{/evento/removerEvento(codigo=${cont.codigo})}" class="btn btn-outline-danger">Remover</a></td>
		</tr>
	</tbody>
	</table>
	<br>
	
	
	
		<a href="/evento/cadastra" class="btn btn-primary">Cadastra Evento</a>
	<a href="/evento/home" class="btn btn-primary">Voltar a página anterior</a>
	
</body>
</html>