<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lista de Convidados</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="modal-header modal-header-warning">
	 <h1  align="center">Lista de Convidados</h1> 
	</div>
	<div align="right">
	 <a th:href="@{/evento/home}" class="btn btn-primary">Página Inicial</a>
	</div>
	
	
</body>
</html>